In [1]:
from function import *


# 클라이언트 코드
raw_data = get_data_from_excel('class_1.xlsx')

In [2]:
raw_data

{'anna': 20,
 'elen': 25,
 'greg': 95,
 'john': 25,
 'mark': 80,
 'melisa': 100,
 'steve': 95,
 'thor': 10,
 'timothy': 15,
 'yang': 50}

In [3]:
scores = list(raw_data.values())

In [4]:
scores

[95, 25, 50, 15, 100, 10, 25, 80, 95, 20]

In [5]:
avrg = average(scores)

In [6]:
avrg

51.5

In [7]:
var = variance(scores, avrg)

In [8]:
var

1240.2

In [9]:
std = std_dev(var)

In [10]:
std

35.2

In [11]:
print('평균 : {}, 분산 : {}, 표준 편차 : {}'.format(avrg, var, std))

평균 : 51.5, 분산 : 1240.2, 표준 편차 : 35.2

In [12]:
# 전체평균 60
evaluateClass(avrg, 60, std, 10)

성적이 너무 저조하고 학생들의 실력 차이가 너무 크다.